:root {
  --main-color: #76d511;
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --big-text: 4rem;
  --h2-font: 1.7rem;
  --p-font: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

header {
  position: fixed;
  display: flex;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  background: #5d7fec;
}

.logo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}

.logo span {
  color: #fff;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
}

.navbar a:hover {
  color: var(--main-color);
  transition: 0.5s;
}

#menu-icon {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

section {
  padding: 70px 17%;
  margin-top: 4rem;
}

.home {
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.home-text h1 {
  font-size: 3.2rem;
  color: var(--main-color);
}

.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
  color: rgb(255, 255, 255);
}

.home {
  background-image: url("mcqueen-sally.jpg");
  background-size: 70%;

  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropbtn {
  color: #fff;
  font-weight: bolder;
  background: none;
  padding: 0.94rem;
  font-size: 1.5rem;
  border: 0.2rem solid;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-left: 10rem;
}

.dropbtn:hover {
  transition: 0.4s;
  color: rgb(189, 185, 185);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  width: 30rem;
  margin-left: 3rem;
}

.dropdown-content a {
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  display: block;
  border-radius: 0.5rem;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: var(--main-color);
}
.dropdown-content a:focus {
  background-color: #60a911;
}

.dropdown:hover .dropdown-content {
  transition: 0.4s;
  display: block;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.about-text span {
  color: var(--main-color);
  font-weight: 600;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
}

.about-img img {
  max-width: 80%;
  width: 480px;
  height: auto;
  border: none;
  border-radius: 2rem;
}

.offers-heading {
  text-align: center;
}

.offers-heading span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 3rem;
}

.offers-heading h2 {
  font-size: var(--h2-font);
}

.offers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center;
}

.box {
  position: relative;
  margin-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a6a6a6;
  border-radius: 2rem;
  padding: 0 0 1rem;

  box-shadow: rgb(120, 117, 117) 0px 4px 12px;
}

.box-img {
  width: 100%;
  height: 10rem;
}

.box-img img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.4rem 0.4rem 0 0;
  margin-top: 0;
}

.box h2 {
  margin-top: 10px;
  font-size: 1.3rem;
  color: var(--bg-color);
}

.box span {
  color: #fff;
  font-size: medium;
  font-weight: 600;
}

.box:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-20px);
}

.contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.contact i {
  margin: 0;
  color: var(--main-color);
}

#contact i:hover {
  transition: 0.5s;
  transform: translateY(-10px);
  color: #c7eca0;
}

#contact i:active {
  color: #6a9a38;
}

@media (max-width: 900px) {
  #menu-icon {
    display: initial;
    color: #fff;
    right: 0;
    margin-left: 15px;
  }

  header .navbar {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #7f99ef;
    transition: 0.5s;
  }

  header .navbar:active {
    top: 70px;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
  }
}

@media (max-width: 800px) {
  .about img {
    width: 1000px;
    height: auto;
  }

  section {
    padding: 10px;
    align-items: center;
  }
  .menu-container {
    display: contents;
  }
  .dropdown {
    display: none;
  }

  .contact {
    font-size: 10px;
  }

  .offers .box {
    align-items: center;
    width: 80%;
  }

  .about {
    display: inline-block;
  }

  .contact {
    font-size: 8px;
  }

  .home {
    display: flex;
    justify-content: center;
  }
}
